<footer class="main-footer">
  {{!-- <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div> --}}
  <center>
    <strong>Copyright &copy; 2019 <a href="#">Walkman "Green Coins"</a>.</strong> All rights
    reserved.
  </center>
</footer>
{{!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>